span{
    @extend .text-sec;
    vertical-align: middle;
    display: inline-block;
}

.card {
    width: 100%;
    font-size: 14px;
    padding: $container-padding;
    border-top: 1px solid #f0f0f0;
    h3,
    .info {
        display: flex
    }
    ;
    .avatar,
    .tag {
        width: 12%;
        margin-right: 10px;
    }
    .status,
    .title {
        flex: 1;
    }
    .info{
        padding-top: 0.7em
    }
    .title{
        @extend .text-primary;
    }
    time{
        color: rgba(0, 0, 0, 0.54);
    }
}
h3{
    font-size: 16px;
    color: #333;
}


.info {
    .avatar {
        display: inline-block;
        width: 12%;
        height: 12%;
        border-radius: 50%;

    }
    p{
        .creator{
            @extend .text-primary;
            font-weight: bold;
        }
        em{
            color: #64DD17;
            font-weight: bold;
        }
    }
}
