.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix{
    zoom: 1;
    &:after{
        content: "";
        display: block;
        clear: both;
        height: 0;
    }
}
.text-primary{
    color: rgba(0,0,0,0.87);
}
.text-sec{
    color: rgba(#000, 0.54);
}

.tag{
    display: inline-block;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    padding: 0.066667rem 0;
    @extend .text-sec;
    background-color: #eee;
    border-radius: 3px;
}
.highlight{
    color: #64DD17;
}
.tag-highlight{
    background-color: #64DD17;
    color: white;
}
//markdown
.markdown-text {
    * {
        max-width: 100%;
        word-wrap: break-all;
        white-space: inherit;
    }
}
