.left{
    float: left;
}
.right{
    float: right;
}
.clearfix{
    zoom: 1;
    &:after{
        content: "";
        display: block;
        clear: both;
        height: 0;
    }
}
.tag{
    padding: 0.066667rem;
}