.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix{
    zoom: 1;
    &:after{
        content: "";
        display: block;
        clear: both;
        height: 0;
    }
}
.text-primary{
    color: rgba(0,0,0,0.87);
}
.text-sec{
    color: rgba(#000, 0.54);
}

.tag{
    font-size: 12px;
    text-align: center;
    padding: 0.066667rem;
    @extend .text-sec;
    background-color: #eee;
}

